<h1>Actualizar producto</h1>

<form id="form" [formGroup]="productUpdateForm" (ngSubmit)="updateProduct()">
  <div class="form-control">
    <label>Nombre</label>
    <input formControlName="nombre" type="text" name="nombre" placeholder="Ingrese el nombre" />
  </div>

  <div class="form-control">
    <label>Tipo de producto</label>
    <input formControlName="tipo_producto" type="text" name="tipo_producto" placeholder="Ingrese el tipo" />
  </div>

  <div class="form-control">
    <label>Precio</label>
    <input formControlName="precio" type="text" name="precio" placeholder="Ingrese el precio" />
  </div>

  <div class="form-control">
    <label>Cantidad:</label>
    <input formControlName="cantidad_disponible" type="number" min="1" max="500">
  </div>

  <div class="form-control">
    <label>Imagen URL</label>
    <input formControlName="img" type="text" name="img" placeholder="Ingrese la direccion de la imagen"
      #cantidadInput />
  </div>

  <div>
    <img [src]="cantidadInput.value" style="width: 100%;">
  </div>

  <p class="err-msg">{{ productMsg }}</p>

  <button class="form-button">actualizar</button>
</form>